h1,h2{
    text-align: center;
    color: rgb(18, 3, 231);
    font-size: 3rem;
    font-weight: bold;
}

h3{
    text-align: center;
    color: rgb(238, 21, 21);
    font-size: 2.5rem;
    font-style: italic;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;

}


header{
 background-color: #1c60a3;
}

/*section de 3 sous sections */
#div_1{ 
    display:table;
    width: 100%;
}

 /* section structure  balise,id*/
#aside_1{
    background-color: #a1e600;
}

 /* section structure  balise, id*/
#section_0{
    text-align: center;
    font-size: 2.5rem;
    background-color: #0c5848;
}


#section_1{
    background-color: #630a1d;
}
#section_2{
    background-color: #5100e6;
}
#section_3{
    background-color: #63aa11;
}
#section_4{
    background-color: #5f044b;
}
#section_5{
    background-color: #06443f;
}



 /* customisation de table */
 #table_1{
    width: 100vw;
    justify-content: center;
    background-image:url("./../images/table_1_img.jpg") ;

 }

th, td {
    border: 1px solid black;
    padding: 8px;
    color: #e60032;
    font-size: 3rem;
  

}

 /* **************** STYLE DE CLASSES **************** */
 /* customisation list class*/
 .list_item_format_1{
    color: #022b0b;
    font-size: 3em;
    padding-left: 70px;
 }
  .list_item_format_2{
    color: #82af05;
    font-size: 1.8em;
    text-align: center;
   
 }

/* custom class*/
.line_format_1{
    display: table-cell;
    vertical-align: top;    /* aligne le contenu en haut */
    width: 33%;         /* trois colonnes égales */
    text-align: center;
    
}

ul{
    list-style: disc;
}


/* customisation class de p*/
.download_1{
    font-size: 3em;
    justify-content: center;


 }
